<a href="https://colab.research.google.com/github/Iginla/R-google-analytics-colabs/blob/main/google_capstones.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Topic: Google Data Analytics Capstone
# Use-Case: Twelve Months Cyclistic's Bike-Share Data Analysis To Navigate Speedy Success between different Bike User Types - strategy convert casual riders to riders with annual memberships.
# Name : Muritala Iginla
# Role: junior Data Analyst
# Preferred Tools for analysis : Google Colabs with R Runtime Type
# Dated: December 2021

# Data mined and Exploratory Analysis
##  =========================================================

Installing  and Loading packages

In [ ]:
installed.packages(tidyverse)
installed.packages(lubridate)
installed.packages(ggplot2)
installed.packages(readxl)

In [3]:
library(tidyverse)  #helps wrangle data
library(ggplot2)  #helps visualize data
library(readxl)
getwd()

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.6     ✔ dplyr   1.0.7
✔ tidyr   1.1.4     ✔ stringr 1.4.0
✔ readr   2.1.0     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

[1] "/content"

Loading (Drag and Drop) and Exploring the Datasets

In [4]:
nov2020 <- read.csv('/content/sample_data/google_cap/202011.csv')
dec2020 <- read.csv('/content/sample_data/google_cap/202012.csv')
jan2021 <- read.csv('/content/sample_data/google_cap/202101.csv')
feb2021 <- read.csv('/content/sample_data/google_cap/202102.csv')
mar2021 <- read.csv('/content/sample_data/google_cap/202103.csv')
apr2021 <- read.csv('/content/sample_data/google_cap/202104.csv')
may2021 <- read.csv('/content/sample_data/google_cap/202105.csv')
jun2021 <- read.csv('/content/sample_data/google_cap/202106.csv')
jul2021 <- read.csv('/content/sample_data/google_cap/202107.csv')
aug2021 <- read.csv('/content/sample_data/google_cap/202108.csv')
sep2021 <- read.csv('/content/sample_data/google_cap/202109.csv')
oct2021 <- read.csv('/content/sample_data/google_cap/202110.csv')
str(nov2020)

'data.frame':	259716 obs. of  13 variables:
 $ ride_id           : chr  "BD0A6FF6FFF9B921" "96A7A7A4BDE4F82D" "C61526D06582BDC5" "E533E89C32080B9E" ...
 $ rideable_type     : chr  "electric_bike" "electric_bike" "electric_bike" "electric_bike" ...
 $ started_at        : chr  "2020-11-01 13:36:00" "2020-11-01 10:03:26" "2020-11-01 00:34:05" "2020-11-01 00:45:16" ...
 $ ended_at          : chr  "2020-11-01 13:45:40" "2020-11-01 10:14:45" "2020-11-01 01:03:06" "2020-11-01 00:54:31" ...
 $ start_station_name: chr  "Dearborn St & Erie St" "Franklin St & Illinois St" "Lake Shore Dr & Monroe St" "Leavitt St & Chicago Ave" ...
 $ start_station_id  : int  110 672 76 659 2 72 76 NA 58 394 ...
 $ end_station_name  : chr  "St. Clair St & Erie St" "Noble St & Milwaukee Ave" "Federal St & Polk St" "Stave St & Armitage Ave" ...
 $ end_station_id    : int  211 29 41 185 2 76 72 NA 288 273 ...
 $ start_lat         : num  41.9 41.9 41.9 41.9 41.9 ...
 $ start_lng         : num  -87.6 -87.6 -87.6 -87.7 -87.6 ...
 $ end_lat           : num  41.9 41.9 41.9 41.9 41.9 ...
 $ end_lng           : num  -87.6 -87.7 -87.6 -87.7 -87.6 ...
 $ member_casual     : chr  "casual" "casual" "casual" "casual" ...

# Data Wrangling and Combine Data Into a Single File
#  ==================================================================

## Merging the 12 months of cyclistic trip data frames into a single data frame

The concept of combing the rows of multiple data frames is highly beneficial in data manipulation.

In [5]:
comb_trip <- rbind(nov2020, dec2020, jan2021, feb2021, mar2021, apr2021, may2021, jun2021, jul2021, aug2021, sep2021, oct2021)
str(comb_trip)

'data.frame':	5378834 obs. of  13 variables:
 $ ride_id           : chr  "BD0A6FF6FFF9B921" "96A7A7A4BDE4F82D" "C61526D06582BDC5" "E533E89C32080B9E" ...
 $ rideable_type     : chr  "electric_bike" "electric_bike" "electric_bike" "electric_bike" ...
 $ started_at        : chr  "2020-11-01 13:36:00" "2020-11-01 10:03:26" "2020-11-01 00:34:05" "2020-11-01 00:45:16" ...
 $ ended_at          : chr  "2020-11-01 13:45:40" "2020-11-01 10:14:45" "2020-11-01 01:03:06" "2020-11-01 00:54:31" ...
 $ start_station_name: chr  "Dearborn St & Erie St" "Franklin St & Illinois St" "Lake Shore Dr & Monroe St" "Leavitt St & Chicago Ave" ...
 $ start_station_id  : chr  "110" "672" "76" "659" ...
 $ end_station_name  : chr  "St. Clair St & Erie St" "Noble St & Milwaukee Ave" "Federal St & Polk St" "Stave St & Armitage Ave" ...
 $ end_station_id    : chr  "211" "29" "41" "185" ...
 $ start_lat         : num  41.9 41.9 41.9 41.9 41.9 ...
 $ start_lng         : num  -87.6 -87.6 -87.6 -87.7 -87.6 ...
 $ end_lat           : num  41.9 41.9 41.9 41.9 41.9 ...
 $ end_lng           : num  -87.6 -87.7 -87.6 -87.7 -87.6 ...
 $ member_casual     : chr  "casual" "casual" "casual" "casual" ...

#Rename some columns for readability

In [6]:
renamed_trips <- comb_trip %>%
  rename(trip_id=ride_id, bike_type = rideable_type, start_time=started_at, end_time=ended_at, rider_type=member_casual)
head(renamed_trips)

  trip_id          bike_type     start_time          end_time
1 BD0A6FF6FFF9B921 electric_bike 2020-11-01 13:36:00 2020-11-01 13:45:40
2 96A7A7A4BDE4F82D electric_bike 2020-11-01 10:03:26 2020-11-01 10:14:45
3 C61526D06582BDC5 electric_bike 2020-11-01 00:34:05 2020-11-01 01:03:06
4 E533E89C32080B9E electric_bike 2020-11-01 00:45:16 2020-11-01 00:54:31
5 1C9F4EF18C168C60 electric_bike 2020-11-01 15:43:25 2020-11-01 16:16:52
6 7259585D8276D338 electric_bike 2020-11-14 15:55:17 2020-11-14 16:44:38
  start_station_name        start_station_id end_station_name
1 Dearborn St & Erie St     110              St. Clair St & Erie St
2 Franklin St & Illinois St 672              Noble St & Milwaukee Ave
3 Lake Shore Dr & Monroe St 76               Federal St & Polk St
4 Leavitt St & Chicago Ave  659              Stave St & Armitage Ave
5 Buckingham Fountain       2                Buckingham Fountain
6 Wabash Ave & 16th St      72               Lake Shore Dr & Monroe St
  end_station_id start_lat start_lng end_lat  end_lng   rider_type
1 211            41.89418  -87.62913 41.89443 -87.62338 casual
2 29             41.89096  -87.63534 41.90067 -87.66248 casual
3 41             41.88098  -87.61675 41.87205 -87.62955 casual
4 185            41.89550  -87.68201 41.91774 -87.69139 casual
5 2              41.87650  -87.62036 41.87645 -87.62034 casual
6 76             41.86029  -87.62581 41.88099 -87.61677 casual

In [7]:
#remove the non-applicable columns
renamed_trips <- renamed_trips %>%
  select(-c(start_lat, start_lng, end_lat, end_lng))
head(renamed_trips)

  trip_id          bike_type     start_time          end_time
1 BD0A6FF6FFF9B921 electric_bike 2020-11-01 13:36:00 2020-11-01 13:45:40
2 96A7A7A4BDE4F82D electric_bike 2020-11-01 10:03:26 2020-11-01 10:14:45
3 C61526D06582BDC5 electric_bike 2020-11-01 00:34:05 2020-11-01 01:03:06
4 E533E89C32080B9E electric_bike 2020-11-01 00:45:16 2020-11-01 00:54:31
5 1C9F4EF18C168C60 electric_bike 2020-11-01 15:43:25 2020-11-01 16:16:52
6 7259585D8276D338 electric_bike 2020-11-14 15:55:17 2020-11-14 16:44:38
  start_station_name        start_station_id end_station_name
1 Dearborn St & Erie St     110              St. Clair St & Erie St
2 Franklin St & Illinois St 672              Noble St & Milwaukee Ave
3 Lake Shore Dr & Monroe St 76               Federal St & Polk St
4 Leavitt St & Chicago Ave  659              Stave St & Armitage Ave
5 Buckingham Fountain       2                Buckingham Fountain
6 Wabash Ave & 16th St      72               Lake Shore Dr & Monroe St
  end_station_id rider_type
1 211            casual
2 29             casual
3 41             casual
4 185            casual
5 2              casual
6 76             casual

# Clean and Prepare Data for Analysis 
#  =====================================================================
Add and Inspect new column to estimate trip duration

# Estimate the time differences between rides start_time and the end_time

In [18]:
# Created new version of the dataframe (v_01) since data is being modified
v_01 <- renamed_trips %>%
                  select(start_time, end_time) %>%
                  mutate(ride_length = difftime(end_time, start_time))
head(ride_period)

  start_time          end_time            ride_length
1 2020-11-01 13:36:00 2020-11-01 13:45:40  580 secs
2 2020-11-01 10:03:26 2020-11-01 10:14:45  679 secs
3 2020-11-01 00:34:05 2020-11-01 01:03:06 1741 secs
4 2020-11-01 00:45:16 2020-11-01 00:54:31  555 secs
5 2020-11-01 15:43:25 2020-11-01 16:16:52 2007 secs
6 2020-11-14 15:55:17 2020-11-14 16:44:38 2961 secs

 ## Created new version of the dataframe (v_02) for day_of_week
 This yields the two user/rider types that we are interested for the analysis: members and casual riders

In [21]:
v_02 <- renamed_trips %>% 
  mutate(day_of_week = weekdays(as.Date(renamed_trips$start_time)))
head(v_02)

  trip_id          bike_type     start_time          end_time
1 BD0A6FF6FFF9B921 electric_bike 2020-11-01 13:36:00 2020-11-01 13:45:40
2 96A7A7A4BDE4F82D electric_bike 2020-11-01 10:03:26 2020-11-01 10:14:45
3 C61526D06582BDC5 electric_bike 2020-11-01 00:34:05 2020-11-01 01:03:06
4 E533E89C32080B9E electric_bike 2020-11-01 00:45:16 2020-11-01 00:54:31
5 1C9F4EF18C168C60 electric_bike 2020-11-01 15:43:25 2020-11-01 16:16:52
6 7259585D8276D338 electric_bike 2020-11-14 15:55:17 2020-11-14 16:44:38
  start_station_name        start_station_id end_station_name
1 Dearborn St & Erie St     110              St. Clair St & Erie St
2 Franklin St & Illinois St 672              Noble St & Milwaukee Ave
3 Lake Shore Dr & Monroe St 76               Federal St & Polk St
4 Leavitt St & Chicago Ave  659              Stave St & Armitage Ave
5 Buckingham Fountain       2                Buckingham Fountain
6 Wabash Ave & 16th St      72               Lake Shore Dr & Monroe St
  end_station_id rider_type day_of_week
1 211            casual     Sunday
2 29             casual     Sunday
3 41             casual     Sunday
4 185            casual     Sunday
5 2              casual     Sunday
6 76             casual     Saturday

## Create a new version of the dataframe (v_03) by inner join dataframes V_01 and V_02

In [26]:
v_03 <- merge(v_01, v_02, c("start_time", "end_time")) # inner join dataframes v_01, v_02
head(v_03)

  start_time          end_time            ride_length trip_id
1 2020-11-01 00:00:08 2020-11-01 00:35:08 2100 secs   D0C1A65AFC859916
2 2020-11-01 00:00:14 2020-11-01 00:02:20  126 secs   985AD418D8ED316C
3 2020-11-01 00:00:22 2020-11-01 00:06:21  359 secs   AB459A840CF1BBF8
4 2020-11-01 00:00:52 2020-11-01 00:04:45  233 secs   5239202FF2A38305
5 2020-11-01 00:00:57 2020-11-01 00:04:24  207 secs   587849ED1D5F0CBA
6 2020-11-01 00:01:20 2020-11-01 00:09:18  478 secs   33A07F3AD7C6451E
  bike_type     start_station_name        start_station_id
1 docked_bike   Broadway & Barry Ave      300
2 docked_bike   Desplaines St & Kinzie St 56
3 docked_bike   Broadway & Cornelia Ave   303
4 electric_bike Wells St & Evergreen Ave  291
5 electric_bike Wells St & Evergreen Ave  291
6 docked_bike   Dearborn St & Erie St     110
  end_station_name             end_station_id rider_type day_of_week
1 Broadway & Barry Ave         300            casual     Sunday
2 Desplaines St & Randolph St  96             member     Sunday
3 Sheridan Rd & Irving Park Rd 240            member     Sunday
4 Franklin St & Chicago Ave    31             casual     Sunday
5 Franklin St & Chicago Ave    31             member     Sunday
6 Wells St & Evergreen Ave     291            casual     Sunday

# Descriptive analysis on the ride_length
## ========================================================================

## Analysis on ride_length (all figures in seconds

In [27]:

  mean(v_03$ride_length, na.rm = TRUE) #straight average (total ride length / rides)

Time difference of 1229.301 secs

In [29]:
max(v_03$ride_length, na.rm = TRUE) #longest ride period

Time difference of 3356649 secs

## Comparing the members and casual users using central tendency

In [31]:
aggregate(v_03$ride_length ~ v_03$rider_type, FUN = mean)

  v_03$rider_type v_03$ride_length
1 casual          1898.1023 secs
2 member           661.1294 secs

In [32]:
aggregate(v_03$ride_length ~ v_03$rider_type, FUN = median)

  v_03$rider_type v_03$ride_length
1 casual          982 secs
2 member          594 secs

In [38]:
aggregate(v_03$ride_length ~ v_03$rider_type, FUN = max)

  v_03$rider_type v_03$ride_length
1 casual          3356649 secs
2 member            93596 secs

## Average ride time per "day of the week" for members versus casual users(rider_types)

In [45]:
aggregate(v_03$ride_length ~ v_03$rider_type + v_03$day_of_week, FUN = mean)

   v_03$rider_type v_03$day_of_week v_03$ride_length
1  casual          Friday           1854.1595 secs
2  member          Friday            819.5205 secs
3  casual          Monday           1938.8425 secs
4  member          Monday            810.8918 secs
5  casual          Saturday         2108.9185 secs
6  member          Saturday          933.0703 secs
7  casual          Sunday           2285.5458 secs
8  member          Sunday            954.7824 secs
9  casual          Thursday         1691.8719 secs
10 member          Thursday          785.8740 secs
11 casual          Tuesday          1204.4703 secs
12 member          Tuesday          -401.8971 secs
13 casual          Wednesday        1688.5490 secs
14 member          Wednesday         789.8299 secs

# Export Summary File for Further Analysis

# =======================================================

Export dataframe as csv file from google colab to google drive